# Terraform ignore rules
terraform/*.tfstate
terraform/*.tfstate.*
terraform/tfstate.*
terraform/crash.log
terraform/*.tfvars
terraform/.terraform/
terraform/terraform.rc
terraform/terraform.tfstate.d/

# Ansible ignore rules
*.vault
*.retry

# Игнорировать личные ключи и сертификаты
*.key
*.pem
*.crt

# Игнорировать временные файлы
*.bak
*.tmp
*.swp
*~

# Игнорировать файлы, созданные редакторами и IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Другие игнорируемые файлы
.DS_Store
Thumbs.db
